@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
$fontPrincipal: 'Open Sans', sans-serif;

//font-size
$text-3em: 3em;
$text-2em: 2em;
$text-1em: 1em;

//font-weight
$text-800: 800;
$text-700: 700;
$text-600: 600;
$text-500: 500;
$text-400: 400;
$text-300: 300;
$text-200: 200;