//vars globales

//colores
$prinColor: #da5216;
$secondaryColor: rgb(136, 24, 24);
$textHColor: rgb(46, 10, 10);
$white: rgb(252, 252, 252);
$black: rgb(6, 6, 6);


//sizing
$w-100:100%;
$w-50:50%;
$h-100: 100%;
$h-50: 50%;



